/target/
**/target/
**/*.rs.bk
.DS_Store                 
*.dSYM/ 
/Cargo.lock
/venv/
**/__pycache__/
/*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
build/
.eggs/
/test/__pycache__/  
__pycache__
chunks
venvtest
snugbug
.ruff_cache
dist
node_modules
.pytest_cache
.venv
.coverage
.skylos_trace
.skylos
.mcpregistry_github_token
.mcpregistry_registry_token
/PR_LOG.md
/manual/
